body {
    background-image: url(./img/background/photo-1668853853439-923e013afff1.jpeg);
    margin: 0;
    padding: 0;
}


.judul {
    padding: 0;
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 5rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    
}

.judul h4 {
    padding: 0;
    margin: 0;
}